---
- name: "Ensure required parameters are provided."
  ansible.builtin.assert:
    that:
      - amq_streams_common_firewalld_package_name is defined
      - service_port is defined
    quiet: true

- name: "Ensure firewalld is available."
  become: true
  ansible.builtin.package:
    name: "{{ amq_streams_common_firewalld_package_name }}"
    state: present
  when:
    - firewalld_state_check is not defined or firewalld_state_check

- name: "Ensure firewalld is running."
  become: true
  ansible.builtin.service:
    name: "{{ amq_streams_common_firewalld_service_name | default('firewalld') }}"
    state: started
    enabled: true

- name: "Ensure firewalld allows communication over {{ amq_streams_broker_bootstrap_server_port }}."
  ansible.posix.firewalld:
    port: "{{ service_port }}/tcp"
    permanent: true
    state: enabled
    immediate: yes
