---
- name: "Ensure requirements for Zookeeper are present."
  ansible.builtin.include_tasks: prereqs.yml

- name: "Ensure OS has been properly tuned (RHEL specific)."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: os_tuning.yml
  vars:
    sysctl_vm_max_map_count: "{{ amq_streams_zookeeper_sysctl_vm_max_map_count }}"
    ulimit_user: "{{ amq_streams_zookeeper_user }}"
    ulimit_limit: "{{ amq_streams_zookeeper_ulimit_max_value }}"
  when:
    - ansible_distribution == "RedHat"

- name: "Ensure Prometheus requirements are met (if enabled: {{ amq_streams_zookeeper_prometheus_enabled }}) - {{ amq_streams_zookeeper_prometheus_config_file_template }}."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: prometheus.yml
  vars:
    amq_streams_common_prometheus_port: "{{ amq_streams_zookeeper_prometheus_port }}"
    amq_streams_common_prometheus_bind_addr: "{{ amq_streams_zookeeper_prometheus_bind_addr }}"
    amq_streams_common_prometheus_config_file: "{{ amq_streams_zookeeper_prometheus_config_file }}"
    amq_streams_common_prometheus_config_file_template: "{{ amq_streams_zookeeper_prometheus_config_file_template }}"
  when:
    - amq_streams_zookeeper_prometheus_enabled is defined and amq_streams_zookeeper_prometheus_enabled

- name: "Ensure Zookeeper data dir exists and belongs to the appropriate user - if user is defined."
  ansible.builtin.file:
    path: "{{ amq_streams_zookeeper_data_dir }}"
    state: directory
    owner: "{{ amq_streams_zookeeper_user | default(omit) }}"
    group: "{{ amq_streams_zookeeper_group | default(omit) }}"
    mode: 0755
  when:
    - amq_streams_zookeeper_data_dir is defined

- name: "Configure 'myid' file based on the position in the zookeepers group"
  copy:
    content: "{{ amq_streams_zookeeper_inventory_group.index(inventory_hostname) + 1 }}"
    dest: "{{ amq_streams_zookeeper_data_dir }}/myid"
    owner: "{{ amq_streams_zookeeper_user | default(omit) }}"
    group: "{{ amq_streams_zookeeper_group | default(omit) }}"
  when:
    - amq_streams_zookeeper_inventory_group is defined
    - amq_streams_zookeeper_inventory_group | length > 0

- name: "Configure Zookeeper authentication"
  ansible.builtin.template:
    src: "{{ amq_streams_zookeeper_auth_config_template }}"
    dest: "{{ amq_streams_zookeeper_auth_config }}"
    owner: "{{ amq_streams_zookeeper_user | default(omit) }}"
    group: "{{ amq_streams_zookeeper_group | default(omit) }}"
    mode: 0644
  when:
    - amq_streams_zookeeper_auth_enabled is defined and amq_streams_zookeeper_auth_enabled

- name: "Enable Zookeeper authentication environment variable"
  ansible.builtin.set_fact:
    amq_streams_zookeeper_java_opts: "-Djava.security.auth.login.config={{ amq_streams_zookeeper_auth_config }}"
  when:
    - amq_streams_zookeeper_auth_enabled is defined and amq_streams_zookeeper_auth_enabled

- name: "Configure firewalld for Zookeeper (if enable)."
  ansible.builtin.include_tasks: service.yml
