---
- name: "Configure firewalld for Zookeeper (if enable)."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: firewalld.yml
  vars:
    service_port: "{{ amq_streams_broker_bootstrap_server_port }}"
  when:
    - amq_streams_firewalld_enabled is defined and amq_streams_firewalld_enabled
    - amq_streams_broker_bootstrap_server_host is defined

- name: "Ensure Zookeeper is running as a systemd service."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: systemd.yml
  vars:
    server_name: "{{ amq_streams_zookeeper.service_name }}"
    server_start: "{{ amq_streams_zookeeper.server_start }}"
    server_config: "{{ amq_streams_zookeeper.config.dest }}"
    server_config_template: "{{ amq_streams_zookeeper.config.template }}"
    server_user: "{{ amq_streams_zookeeper_user | default(omit) }}"
    server_group: "{{ amq_streams_zookeeper_group | default(omit) }}"
    server_log_dir: "{{ amq_streams_zookeeper_logs_dir | default(omit) }}"
    service_systemd_env_file_template: "{{ amq_streams_zookeeper_service_config_template }}"
    service_systemd_env_file: "{{ amq_streams_zookeeper_service_env_file }}"
    server_java_heap_opts: "{{ amq_streams_zookeeper_java_heap_opts }}"
    server_java_opts: "{{ amq_streams_zookeeper_java_opts | default('') }}"
    server_java_performance_opts: "{{ amq_streams_zookeeper_java_performance_opts | default('') }}"
    server_java_gc_log_opts: "{{ amq_streams_zookeeper_java_java_gc_log_opts | default('') }}"
    server_java_jmx_opts: "{{ amq_streams_zookeeper_java_jmx_opts | default('') }}"

- name: "Add zookeeper {{ ansible_nodename | default('[no hostname provided]') }} to instances count."
  ansible.builtin.set_fact:
    amq_streams_zookeeper_instance_count: "{{ amq_streams_zookeeper_instance_count | int + 1 }}"
  delegate_to: "{{ amq_streams_ansible_controller | default('localhost') }}"
