---
- name: "Configure firewalld for Zookeeper (if enable)."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: firewalld.yml
  vars:
    service_port: "{{ amq_streams_broker_bootstrap_server_port }}"
  when:
    - amq_streams_firewalld_enabled is defined and amq_streams_firewalld_enabled
    - amq_streams_broker_bootstrap_server_host is defined

- name: "Ensure Zookeeper is running as a systemd service."
  become: yes
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: systemd.yml
  vars:
    server_name: "{{ amq_streams_zookeeper.service_name }}"
    server_start: "{{ amq_streams_zookeeper.server_start }}"
    server_config: "{{ amq_streams_zookeeper.config.dest }}"
    server_config_template: "{{ amq_streams_zookeeper.config.template }}"
    server_user: "{{ amq_streams_zookeeper_user | default(omit) }}"
    server_group: "{{ amq_streams_zookeeper_group | default(omit) }}"
    server_log_dir: "{{ amq_streams_zookeeper_logs_dir | default(omit) }}"
    service_systemd_env_file_template: "{{ amq_streams_zookeeper_service_config_template }}"
    service_systemd_env_file: "{{ amq_streams_zookeeper_service_env_file }}"
    server_log4j_opts: "{{ amq_streams_zookeeper_java_log4j_opts | default('') }}"
    server_java_heap_opts: "{{ amq_streams_zookeeper_java_heap_opts }}"
    server_java_opts: "{{ amq_streams_zookeeper_java_opts | default('') }}"
    server_java_performance_opts: "{{ amq_streams_zookeeper_java_performance_opts | default('') }}"
    server_java_gc_log_opts: "{{ amq_streams_zookeeper_java_java_gc_log_opts | default('') }}"
    server_java_jmx_opts: "{{ amq_streams_zookeeper_java_jmx_opts | default('') }}"
    server_prometheus_enabled: "{{ amq_streams_zookeeper_prometheus_enabled }}"
    server_prometheus_config_file: "{{ amq_streams_zookeeper_prometheus_config_file | default('') }}"
    server_port: "{{ amq_streams_zookeeper_admin_server_port | default('') }}"
    skip_wait_for_server_port: "{{ amq_streams_zookeeper_admin_server_skip_wait | default(False) }}"
    delay_before_server_port_check: "{{ amq_streams_zookeeper_admin_server_port_delay }}"
    amq_streams_common_prometheus_port: "{{ amq_streams_zookeeper_prometheus_port }}"
    amq_streams_common_prometheus_bind_addr: "{{ amq_streams_zookeeper_prometheus_bind_addr }}"
