---
- name: "Verify that service {{ amq_streams_zookeeper_service_name }} is functional."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: validation/service.yml
  vars:
    service_name: "{{ amq_streams_zookeeper_service_name }}"

- name: "Verify that logfile {{ amq_streams_zookeeper_logs_dir }}/server.log and it contains no errors."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: validation/logfile.yml
  vars:
    server_log_validation_min_size: "{{ amq_streams_zookeeper_server_log_validation_min_size }}"
    server_log_dir: "{{ amq_streams_zookeeper_logs_dir }}/server.log"
    error_label: 'FATAL'

- name: "Verify that the balance of zookeeper and brokers instances is correct."
  ansible.builtin.assert:
    that:
      - not (amq_streams_zookeeper_instance_count | int is divisibleby 2)
    fail_msg: "Invalid number of Zookeeper instance: {{ amq_streams_zookeeper_instance_count }} (must be an odd number)."
  when:
    - amq_streams_deployment_balance_check_enabled is defined and amq_streams_deployment_balance_check_enabled
    - amq_streams_zookeeper_instance_count is defined

- name: "Check that Prometheus port is accessible (if enabled: {{ amq_streams_zookeeper_prometheus_enabled }})"
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: validation/prometheus.yml
  vars:
    amq_streams_zookeeper_prometheus_bind_addr: "{{ amq_streams_broker_prometheus_bind_addr }}"
    amq_streams_zookeeper_prometheus_port: "{{ amq_streams_broker_prometheus_port }}"
  when:
    - amq_streams_zookeeper_prometheus_enabled is defined and amq_streams_zookeeper_prometheus_enabled
