---
amq_streams_common_product_version: 3.4.0
amq_streams_common_scala_version: 2.13
amq_streams_common_version: "{{ amq_streams_common_scala_version }}-{{ amq_streams_common_product_version }}"
amq_streams_common_archive_file: "kafka_{{ amq_streams_common_version }}.tgz"
amq_streams_common_download_url: "https://archive.apache.org/dist/kafka/{{ amq_streams_common_product_version }}/kafka_{{ amq_streams_common_version }}.tgz"
amq_streams_common_download_dir: /opt
amq_streams_common_download_user: "{{ amq_streams_common_user | default(omit) }}"
amq_streams_common_download_group: "{{ amq_streams_common_group | default(omit) }}"
amq_streams_common_install_dir: /opt
amq_streams_common_path_to_archive_file: "{{ amq_streams_common_download_dir }}/{{ amq_streams_common_archive_file }}"
amq_streams_common_download_node: localhost
amq_streams_common_prereqs_dependencies:
  - tar
amq_streams_common_openjdk_version: 17

amq_streams_common_systemd_home: '/usr/lib/systemd/system'
amq_streams_common_systemd_service_config_file_template: 'templates/service_systemd.j2'
amq_streams_common_home: "{{ amq_streams_common_install_dir }}/kafka_{{ amq_streams_common_version }}/"

amq_streams_common_firewalld_package_name:
  - firewalld
amq_streams_common_firewalld_enabled: false

amq_streams_common_offline_install: false
