---
- name: "Ensure required dependencies are present."
  ansible.builtin.include_role:
    name: amq_streams_common

- name: "Ensure prerequirements for collection are met."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: user_group.yml
  vars:
    user: "{{ amq_streams_broker_user }}"
    group: "{{ amq_streams_broker_group }}"
  when:
    - amq_streams_broker_user is defined
    - amq_streams_broker_group is defined

- name: "Ensure AMQ Streams artefacts are available."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: download.yml
  when:
    - not amq_streams_common_skip_download is defined or not amq_streams_common_skip_download

- name: "Set Zookeeper host value"
  ansible.builtin.set_fact:
    amq_streams_broker_zookeeper_host: "{{ amq_streams_zookeeper_host | default(amq_streams_broker_zookeeper_host_default_value) }}"
    amq_streams_broker_zookeeper_port: "{{ amq_streams_zookeeper_port | default(amq_streams_broker_zookeeper_port_default_value) }}"
