---
- name: "Ensure required parameter(s) are defined."
  ansible.builtin.assert:
    that:
      - amq_streams_common_home is defined
    quiet: true

- name: "Ensure prerequisite are fullfilled."
  ansible.builtin.include_tasks: prereqs.yml

- name: "Ensure OS has been properly tuned (RHEL specific)."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: os_tuning.yml
  vars:
    sysctl_vm_max_map_count: "{{ amq_streams_connect_sysctl_vm_max_map_count }}"
  when:
    - ansible_distribution == "RedHat"

- name: "Ensure connectors for AMQ Connect are deployed."
  ansible.builtin.include_tasks: "{{ connector.path }}"
  loop: "{{ connectors }}"
  loop_control:
    loop_var: connector
  when:
    - connectors is defined and connectors | length > 0

- name: "Deploy Kafka Connect as a systemd service."
  ansible.builtin.include_tasks: service.yml
