---
- name: "Configure firewalld for Kafka Connect (if enable)."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: firewalld.yml
  vars:
    service_port: "{{ amq_streams_connect_server_port }}"
  when:
    - amq_streams_firewalld_enabled is defined and amq_streams_firewalld_enabled
    - amq_streams_connect_server_port is defined

- name: "Deploy Kafka Connect as a systemd service."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: systemd.yml
  vars:
    service_systemd_workdir: "{{ amq_streams_common_home }}"
    server_name: "{{ amq_streams_connect_service_name }}"
    server_start: "{{ amq_streams_connect_server_start }}"
    server_config: "{{ amq_streams_connect_server_config }}"
    server_config_template: "{{ amq_streams_connect_config_template }}"
    service_systemd_env_file: "{{ amq_streams_connect_systemd_env_file }}"
    service_systemd_env_file_template: "{{ amq_streams_connect_service_config_template }}"
    server_log_dir: "{{ amq_streams_connect_logs_dir | default(omit) }}"
    server_extra_args: "{{ amq_streams_connect_server_extra_args }}"
    server_user: "{{ amq_streams_connect_user | default(omit) }}"
    server_group: "{{ amq_streams_connect_group | default(omit) }}"
    server_java_opts: "{{ amq_streams_connect_java_opts | default('') }}"
    server_log4j_opts: "{{ amq_streams_connect_java_log4j_opts | default('') }}"
    server_java_heap_opts: "{{ amq_streams_connect_java_heap_opts | default('') }}"
    server_java_performance_opts: "{{ amq_streams_connect_java_performance_opts | default('') }}"
    server_java_gc_log_opts: "{{ amq_streams_connect_java_java_gc_log_opts | default('') }}"
    server_start_sleep: "{{ amq_streams_connect_zookeeper_session_timeout_ms }}"
    server_port: "{{ amq_streams_connect_server_port }}"
    skip_wait_for_server_port: True
    delay_before_server_port_check: "{{ amq_streams_connect_server_port_delay }}"
