---
amq_streams_zookeeper_enabled: true
amq_streams_zookeeper_config: /etc/amq_streams_zookeeper.properties
amq_streams_zookeeper_config_template: templates/zookeeper.properties.j2
amq_streams_zookeeper_server_start: "{{ amq_streams_common_home }}/bin/zookeeper-server-start.sh"
amq_streams_zookeeper_user: 'amq_streams_zookeeper'
amq_streams_zookeeper_group: 'amq_streams'
amq_streams_zookeeper_service_name: 'amq_streams_zookeeper'
amq_streams_zookeeper_service_config_template: 'templates/service.conf.j2'
amq_streams_zookeeper_service_env_file: '/etc/zookeeper.conf'
amq_streams_zookeeper_data_dir: /var/run/zookeeper
amq_streams_zookeeper_logs_dir: "/var/logs/{{ amq_streams_zookeeper_service_name }}/"
amq_streams_zookeeper_max_client_cnxns: 0
amq_streams_zookeeper_admin_enable_server: 'true'
amq_streams_zookeeper_admin_server_port: 8080
amq_streams_zookeeper_instance_count_enabled: true
amq_streams_zookeeper_4wl_commands_whitelist: stat,dump # "*"
amq_streams_zookeeper_instance_count: 0

amq_streams_zookeeper_host: localhost
amq_streams_zookeeper_port: 2181
amq_streams_zookeeper_init_limit: 5
amq_streams_zookeeper_sync_limit: 2
amq_streams_zookeeper_cluster_port_start: 2888
amq_streams_zookeeper_cluster_port_end: 3888

amq_streams_firewalld_package_name:
  - firewalld
amq_streams_firewalld_enabled: false
