---
amq_streams_broker_create_topic_script: "{{ amq_streams_common_home }}/bin/kafka-topics.sh"
amq_streams_broker_enabled: true
amq_streams_broker_server_start: "{{ amq_streams_common_home }}/bin/kafka-server-start.sh"
amq_streams_broker_config: "/etc/amq_streams_broker.properties"
amq_streams_broker_service_name: 'amq_streams_broker'
amq_streams_broker_user: 'amq_streams_broker'
amq_streams_broker_listener_port: 9092
amq_streams_broker_group: 'amq_streams'
amq_streams_broker_service_config_template: 'templates/service.conf.j2'
amq_streams_broker_service_config_file: '/etc/broker.conf'
amq_streams_broker_logs_dir: "/var/logs/{{ amq_streams_broker_service_name }}/"
amq_streams_broker_num_network_threads: 3
amq_streams_broker_num_io_threads: 8
amq_streams_broker_buffer_send_bytes: 102400
amq_streams_broker_buffer_bytes: 102400
amq_streams_broker_socket_request_max_bytes: 104857600
amq_streams_broker_num_partitions: 1
amq_streams_broker_num_recovery_threads_per_data_dir: 1
amq_streams_broker_offsets_topic_replication_factor: 1
amq_streams_broker_transaction_state_log_replication_factor: 1
amq_streams_broker_transaction_state_log_min_isr: 1
amq_streams_broker_log_retention_hours: 168
amq_streams_broker_log_retention_check_interval_ms: 300000
amq_streams_broker_zookeeper_connection_timeout_ms: 18000
amq_streams_broker_group_initial_rebalance_delay_ms: 0
amq_streams_broker_properties_template: templates/server.properties.j2

amq_streams_broker_bootstrap_server_host: localhost
amq_streams_broker_bootstrap_server_port: 9092

amq_streams_firewalld_package_name:
  - firewalld
amq_streams_firewalld_enabled: false

amq_streams_broker_instance_count_enabled: true
amq_streams_broker_instance_count: 0

amq_streams_deployment_balance_check_enabled: true

amq_streams_broker_zookeeper_host_default_value: localhost
amq_streams_broker_zookeeper_port_default_value: 2181
amq_streams_broker_zookeeper_wait: True

# Broker-Zookeeper Authentication with SASL
amq_streams_zookeeper_auth_enabled: 'false'
amq_streams_broker_zookeeper_auth_config: /etc/broker-jaas.conf
amq_streams_broker_zookeeper_auth_config_template: templates/broker-jaas.conf.j2
