security.protocol={{ amq_streams_broker_inter_broker_auth_sasl_protocol }}
sasl.mechanism={{ amq_streams_broker_inter_broker_auth_sasl_mechanisms }}
sasl.jaas.config={{ amq_streams_cruise_control_zk_sasl_jaas_config }}
