# {{ ansible_managed }}

# Security protocol
{% if amq_streams_broker_tls_enabled and not amq_streams_broker_auth_enabled %}
security.protocol=SSL
{% elif amq_streams_broker_tls_enabled and amq_streams_broker_auth_enabled %}
security.protocol=SASL_SSL
{% elif not amq_streams_broker_tls_enabled and amq_streams_broker_auth_enabled %}
security.protocol=SASL_PLAINTEXT
{% else %}
# No security protocol
{% endif %}

{% if amq_streams_broker_auth_enabled %}
{% if amq_streams_broker_admin_mechanism == "PLAIN" %}
# Plain Login Module
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ amq_streams_broker_admin_username }}" password="{{ amq_streams_broker_admin_password }}";
{% elif amq_streams_broker_admin_mechanism == "SCRAM-SHA-512" %}
# SCRAM Login Module
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="{{ amq_streams_broker_admin_username }}" password="{{ amq_streams_broker_admin_password }}";
{% endif %}
{% endif %}

{% if amq_streams_broker_tls_enabled %}
# SSL truststore
ssl.truststore.location={{ amq_streams_broker_tls_truststore_client_location }}/{{ amq_streams_broker_tls_truststore_client }}
ssl.truststore.password={{ amq_streams_broker_tls_truststore_client_password }}
# Disable hostname verification
ssl.endpoint.identification.algorithm=
{% endif %}
