---
- name: "Create topic using the bootstrap server."
  block:
    - name: "Use bootstrap server to create topic {{ topic_name }}"
      ansible.builtin.include_tasks: topic/bootstrap.yml
      vars:
        bootstrap_operator: "--create"
  rescue:
    - name: "Set expected error message"
      ansible.builtin.set_fact:
        topic_already_exists_err_msg: "Topic '{{ topic_name }}' already exists"

    - name: "Ensure errors is only due to topic already existing."
      ansible.builtin.assert:
        that:
          - operation_result is defined and operation_result.stdout is defined
          - topic_already_exists_err_msg in operation_result.stdout
        fail_msg: "{{ operation_result.stdout }}"
