---
- name: "Ensure prerequistes are in place"
  ansible.builtin.include_tasks: topic/prereqs.yml

- name: "Get description of topic using the bootstrap server."
  ansible.builtin.include_tasks: cli/bootstrap.yml
  vars:
    main_argument: "--topic {{ topic_name }}"
    bootstrap_operator: "--describe"

- name: "Verify that information on {{ topic_name }} could be retrieved without any errors."
  ansible.builtin.assert:
    that:
      - operation_result is defined
      - operation_result.rc is defined and operation_result.rc == 0
      - operation_result.stdout is defined
    quiet: True

- name: "Display information on topic: {{ topic_name }}."
  ansible.builtin.debug:
    var: operation_result.stdout
