# {{ ansible_managed }}
{% if server_log_dir is defined %}LOG_DIR="{{ server_log_dir  }}"
{% endif %}
{% if server_java_opts is defined %}KAFKA_OPTS="{{ server_java_opts }}"
{% endif %}
{% if server_log4j_opts is defined %}KAFKA_LOG4J_OPTS="{{ server_log4j_opts  }}"
{% endif %}
{% if server_java_heap_opts is defined and server_java_heap_opts | length %}KAFKA_HEAP_OPTS="{{ server_java_heap_opts }}"
{% endif %}
{% if server_java_performance_opts is defined and server_java_performance_opts | length %}KAFKA_JVM_PERFORMANCE_OPTS="{{ server_java_performance_opts }}"
{% endif %}
{% if server_java_gc_log_opts is defined and server_java_gc_log_opts | length %}KAFKA_GC_LOG_OPTS="{{ server_java_gc_log_opts }}"
{% endif %}
{% if server_java_jmx_opts is defined and server_java_jmx_opts | length %}KAFKA_JMX_OPTS="{{ server_java_jmx_opts }}"
{% endif %}
