# {{ ansible_managed }}

[Unit]
Description={{ service_description }}
After=syslog.target network.target

[Service]
{% if service_systemd_env_file is defined %}EnvironmentFile=-{{ service_systemd_env_file }}
{% endif %}
User={{ service_user }}
Group={{ service_group }}
#
#
ExecStart={{ server_start }} {{ server_config }} {% if server_extra_args is defined %}{{ server_extra_args }}{% endif %}

{% if service_start_sleep | int > 0 %}
ExecStartPre=/bin/sleep {{ service_start_sleep | int / 1000 }}
{% endif %}
{% if server_stop is defined %}
ExecStop={{ server_stop }}
{% endif %}

[Install]
WantedBy=multi-user.target
